<header class="header">
    <div class="container">
        <h1 class="header__title">Bootcamp Front - Reto Final</h1>
        <div class="header__nav">
            <app-nav-menu></app-nav-menu>
        </div>
    </div>
</header>