<footer class="footer page-footer font-small indigo">
    <div class="footer-copyright text-center py-3">
        <span class="footer__title">© NTTDATA - Bootcamp Frontend:</span>
        <a href="https://www.nttdata.com/global/en/"> www.nttdata.com</a>
    </div>
</footer>
