.home {
    font-size: 20px;

    &__text {
        font-size: 1em;

        &--big {
            font-size: 2em;
        }

        &--right {
            text-align: right;
        }
    }
    &__list {
        list-style: upper-roman;

        &--flex {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
        }
    }

    &__list-item {
        font-size: 0.8em;

        &--flex {
            padding: 10px;
            width: 25%;
        }
    }
    
    &__card {
        padding: 10px;
        text-align: center;
        box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.2);
    }
}

@media (max-width: 1024px) {
    .home {
        &__list-item {
            &--flex {
                width: 50%
            }
        }
    }
}

@media (max-width: 768px) {
    .home {
        &__list-item {
            &--flex {
                width: 100%
            }
        }
    }
}