<div class="home">
    <div class="row">
        <div class="col-12">
            <p class="home__text--big">
                Juan Manuel Cano Moguer
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <p class="home__text">
                Centers Developer
            </p>
        </div>
        <div class="col-6">
            <p class="home__text home__text--right">
                NTT DATA
            </p>
        </div>
    </div>
    <div class="row container pt-5">
        <div class="col-lg-2 col-md-3">
            <p class="home__text">Mail:</p>
        </div>
        <div class="col-lg-10 col-md-9">
            <p class="home__text">jcanomog@emeal.nttdata.com</p>
        </div>
    </div>
    <div class="row container">
        <div class="col-lg-2 col-md-3">
            <p class="home__text">Teléfono:</p>
        </div>
        <div class="col-lg-2 col-md-3">
            <p class="home__text">+34 644 295 380</p>
        </div>
    </div>
    <div class="row container pt-3">
        <div class="col-lg-2 col-md-3">
            <p class="home__text">Estudios:</p>
        </div>
        <div class="col-10">
            <ul class="home__list">
                <li class="home__list-item">
                    CFGM Sistemas Microinformáticos y Redes
                </li>
                <li class="home__list-item">
                    CFGS Desarrollo de aplicaciones WEB
                </li>
            </ul>
        </div>
    </div>
    <div class="row container pt-3">
        <div class="col-12">
            <p class="home__text">Competencias:</p>
            <ul class="home__list home__list--flex pt-2">
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        HTML
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">  
                    <p class="home__card">
                        SCSS
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Javascript
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Typescript
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Angular
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Bootstrap
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Responsive Design
                    </p>
                </li>
                <li class="home__list-item home__list-item--flex">
                    <p class="home__card">
                        Accesibilidad
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>
