<div class="nuevo">
    <div *ngIf="status" class="alert" role="alert" [class.alert-success]="status === 'success'" [class.alert-error]="status === 'error'">
        <p class="alert__text">
            {{ message }}
        </p>
    </div>

    <form class="form-horizontal animated fadeIn" #employeeForm="ngForm" (ngSubmit)="submit(employeeForm)">
        <p class="nuevo__title mb-4">Crear Empleado</p>
        <div class="row">
            <div class="form-group col-lg-4 col-md-12 mt-1 mt-1">
                <label for="inputName">Nombre</label>
                <input type="text" class="form-control" required [(ngModel)]="employee.name" name="name" placeholder="Introducir Nombre">
            </div>
            <div class="form-group col-lg-4 col-md-12 mt-1">
                <label for="inputSalary">Salario</label>
                <input type="text" class="form-control" required [(ngModel)]="employee.salary" name="salary" placeholder="Introducir Salario">
            </div>
            <div class="form-group col-lg-4 col-md-12 mt-1">
                <label for="inputAge">Edad</label>
                <input type="text" class="form-control" required [(ngModel)]="employee.age" name="age" placeholder="Introducir Edad">
            </div>
        </div>
        <div class="form-group mt-3">
            <button [disabled]="!employeeForm.valid" class="btn btn-primary">Crear</button>
        </div>
    </form>
</div>
