.employees {
    padding-bottom: 50px;
}

.table {

    &__head,
    &__footer {
        background-color: #627EB7;
        color: white;
    }
    
    &__row {
        
        &:nth-child(2n) {
            background-color: #f8f8f8;
        }

        &:hover {
            background-color: #eaeaea;
        }
    }

    &__cell {
        &--right {
            text-align: right;
        }
    }

    &__footer {
        font-weight: bold;
    }
}