<div *ngIf="error" class="alert alert-danger" role="alert">
    <p class="alert__text">
        La conexión con la API ha fallado. Por favor inténtelo de nuevo.
    </p>
</div>

<div class="employees" *ngIf="employees">
    <table class="employees__table table">
        <thead class="table__head">
            <tr class="table__row">
                <th class="table__cell table__cell--head">
                    ID
                </th>
                <th class="table__cell table__cell--head">
                    Nombre
                </th>
                <th class="table__cell table__cell--head">
                    Salario
                </th>
                <th class="table__cell table__cell--head">
                    Edad
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="table__row" *ngFor="let item of employees">
                <td class="table__cell">
                    {{ item.id }}
                </td>
                <td class="table__cell">
                    {{ item.employee_name }}
                </td>
                <td class="table__cell">
                    {{ item.employee_salary }}
                </td>
                <td class="table__cell">
                    {{ item.employee_age }}
                </td>
            </tr>
        </tbody>
        <tfoot class="table__footer">
            <tr class="table__row">
                <td class="table__cell" colspan="2">
                    Bootcamp Front
                </td>
                <td class="table__cell table__cell--right" colspan="2">
                    NTT DATA
                </td>
            </tr>
        </tfoot>
    </table>
</div>
