.nav {
    font-size: 20px;
    font-weight: bold;
    
    &__list {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
    }
    
    &__item {
        display: inline-block;
        margin-right: 15px;
        border-radius: 10px;
        transition: box-shadow 0.4s;

        &:hover {
            box-shadow: 0px 2px 10px 3px rgb(255 255 255 / 30%);
            transition: box-shadow 0.4s;
        }
    }
    
    &__link {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
    }
}