<nav class="nav navbar">
    <ul class="nav__list">
        <li class="nav__item">
            <a [routerLink]="['/']" class="nav__link">
                Home
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['/empleados']" class="nav__link">
                Empleados
            </a>
        </li>
        <li class="nav__item">
            <a [routerLink]="['/nuevo']" class="nav__link">
                Nuevo
            </a>
        </li>
    </ul>
</nav>